* {
  box-sizing: border-box;
}

body {
  margin: 0
}

/* HEADER */
header {
  padding: 20px 40px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header nav a {
  text-decoration: none;
  color: #00A9B5;
}

header h1 {
  color: #00A9B5;
}

/* BANNER */
#banner img {
  width: 83.3%;
  margin: 60px auto;
  height: auto;
  display: block;
}

/* BLOQUE MIS TRABAJOS */
#mistps {
  width: 83.3%;
  margin: 60px auto;
}

#mistps h2 {
  margin-bottom: 10px;
  color: #e77168;
}

#mistps .subtitulo {
  color: #F08F98;
  margin-bottom: 15px;
  text-transform: capitalize;
}

#mistps p {
  margin-bottom: 30px;
}

/* cada fila */
.fila {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.fila img {
  width: 32%;
  height: 32%;
  display: block;
}

/* BLOQUE SOBRE MI */
#info {
  width: 83.3%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

#info .texto {
  flex: 1;
}

#info .texto h2 {
  margin-bottom: 10px;
  color: #df911c;
}

#info .texto p {
  margin-bottom: 30px;
}

#info .boton {
  background-color: #fea929;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 12px 48px;
  border-radius: 6px;
}

#info .imagen {
  flex: 1;
}

#info .imagen img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px #fea929;
}

/* BLOQUE SERVICIOS */
#servicios {
  width: 83.3%;
  margin: 80px auto;
  display: flex;
  gap: 60px;
  /* espacio entre intro e items */
}

#servicios .intro {
  flex: 0 0 40%;
  /* intro ocupa aprox 40% del ancho */
}

#servicios .intro h2 {
  margin-bottom: 10px;
  color: #00A9B5;
}

#servicios .items {
  flex: 2;
  display: flex;
  gap: 40px;
  /* espacio entre filas y columnas */
}

#servicios .items h3 {
  color: #00A9B5;
}

#servicios .items div {
  flex: 1;
}

#servicios h3 {
  margin-bottom: 8px;
}

/* FOOTER */
footer {
  background-color: #00A9B5;
  color: white;
  text-align: center;
  padding: 60px 20px;
  /* arriba/abajo 60px, costados 20px */
}

footer a {
  /* links a mail e Instagram */
  color: #d7faa0;
  text-decoration: underline;
}

/* Parte RESPONSIVE */
@media (max-width: 992px) {

  #info,
  #servicios {
    flex-direction: column;
  }

  #servicios .items {
    flex-direction: column;
  }


  @media (max-width: 768px) {

    #info,
    #servicios {
      padding: 10px;
    }

    #servicios .items {
      gap: 15px;
      /* menos espacio entre items */
    }

  }
 }